* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Helvetica;
  color: #18181b;
  background: #fafafa;
}

a {
  color: #16a34a;
}

a:hover {
  color: #15803d;
}

p,
h2,
li,
hr {
  margin: 1em 0;
}

hr {
  border: 1px solid #d4d4d8;
}

img {
  display: block;
  max-width: 100%;
}

.code {
  display: inline-block;
  font-family: Consolas, monospace;
  padding: 0.1em 0.15em;
  border-radius: 0.25em;
  color: #71717a;
  background: #d4d4d8;
}

header {
  font-family: Consolas, monospace;
  text-align: center;
  padding: 4em 1.5em;
  color: #16a34a;
  background: #05150b;
}

header a {
  text-decoration: none;
}

header a:hover {
  text-decoration: none;
  color: #16a34a;
}

main {
  margin: 3em auto;
  width: 75%;
}

p img {
  display: inline-block;
}

footer {
  text-align: center;
  padding: 1.5em;
  color: #71717a;
  background: #d4d4d8;
}
