:root {
  --white: #ffffff;
  --black: #18181b;
  --lgray: #d4d4d8;
  --dgray: #71717a;
  --highlight: #16a34a;
  --background: #05150b;
  --link: #3b82f6;
  --hlink: #2563eb;
}

* {
  box-sizing: border-box;
  letter-spacing: 0.0125em;
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: avfont;
  margin: 0;
  color: var(--black);
  background: var(--white);
}

a {
  color: var(--link);
}

a:hover {
  color: var(--hlink);
}

hr {
  border: 1px solid var(--lgray);
}

img {
  display: block;
  max-width: 100%;
}

header {
  font-family: Consolas, monospace;
  text-align: center;
  padding: 4em 1.5em;
  color: var(--highlight);
  background: var(--background);
}

header a,
header a:hover {
  color: var(--highlight);
  text-decoration: none;
}

main {
  margin: 3.75em auto;
  width: 75%;
}

h2 {
  margin: 0.75em 0;
}

p,
li {
  margin: 0.5em 0;
}

p img {
  display: inline-block;
}

.code {
  display: inline-block;
  line-height: normal;
  padding: 0.25em;
  border-radius: 0.25em;
  font-family: monospace;
  color: var(--dgray);
  background: var(--lgray);
}

.code a {
  line-height: normal;
}

footer {
  text-align: center;
  padding: 1.5em;
  color: var(--dgray);
  background: var(--lgray);
}

@media (max-width: 768px) {
  main {
    width: 87.5%;
  }
}

@media (max-width: 640px) {
  main {
    width: 93.75%;
  }
}
